@model CalledWebMVC.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}


<br />
<h1>Entrar no Sistema</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="Email">Email</label>
                <div class="col-md-10">
                    <input asp-for="Email" id="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="Senha">Senha</label>
                <div class="col-md-10">
                    <input asp-for="Senha" id="Senha" type="password" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Entrar" class="btn btn-success" /> &nbsp;
                    <a asp-action="Registro" asp-controller="Usuario">Registrar</a>
                </div>
            </div>
        </form>
    </div>
</div>


