@model CalledWebMVC.Models.ViewModels.TaskFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Task.Title" class="control-label"></label>
                <input asp-for="Task.Title" class="form-control" />
                <span asp-validation-for="Task.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <textarea asp-for="Task.Description" class="form-control"> </textarea>
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Datecreated" class="control-label"></label>
                <input asp-for="Task.Datecreated" class="form-control" />
                <span asp-validation-for="Task.Datecreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.DateDone" class="control-label"></label>
                <input asp-for="Task.DateDone" class="form-control" />
                <span asp-validation-for="Task.DateDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.FunctionaryId" class="control-label"></label>
                <select asp-for="Task.FunctionaryId" asp-items="@(new SelectList(Model.Functionaries,"Id","Name"))" class="form-control"></select>
            </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
