@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="jumbotron">
    <h1 class="display-3">Olá, seja bem vindo!</h1>
    <p class="lead">Crei e gerencie sua equipe através do controle de tarefas.</p>
    <hr class="my-4">
    <p>Clique no botão abaixo para criar uma tarefa!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Task" asp-action="Create" role="button">Nova Tarefa</a>
    </p>
</div>