@model CalledWebMVC.Models.ViewModels.SprintFormViewModel

<br />
<h4>Criar Nova Sprint</h4>
<hr />
<div class="row">
    <div class="form-group col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Sprint.Name" class="control-label"></label>
                    <input asp-for="Sprint.Name" class="form-control" />
                    <span asp-validation-for="Sprint.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Sprint.BeginSprint" class="control-label"></label>
                    <input asp-for="Sprint.BeginSprint" class="form-control" />
                    <span asp-validation-for="Sprint.BeginSprint" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Sprint.EndSprint" class="control-label"></label>
                    <input asp-for="Sprint.EndSprint" class="form-control" />
                    <span asp-validation-for="Sprint.EndSprint" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Sprint.ProjetoId" class="control-label"></label>
                    <select asp-for="Sprint.ProjetoId" asp-items="@(new SelectList(Model.Projetos,"ProjetoId","Nome"))" class="form-control">
                        

                    </select>
                    <span asp-validation-for="Sprint.ProjetoId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Sprint.MetaSprint" class="control-label"></label>
                    <input cols="40" asp-for="Sprint.MetaSprint" class="form-control" />
                    <span asp-validation-for="Sprint.MetaSprint" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" value="Criar" class="btn btn-primary" />
                
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}